@font-face {
  font-family: "GraphikLCG";
  src: url("../assets/fonts/GraphikLCG-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "GraphikLCG";
  src: url("../assets/fonts/GraphikLCG-Semibold.ttf") format("truetype");
  font-weight: 600;
}
.underline {
  text-decoration: underline;
}

html {
  box-sizing: border-box;
  font-family: "GraphikLCG";
  font-weight: 400;
  font-style: normal;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #CCCCCC;
}
.header__container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 10px;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
}
.header__nav {
  display: flex;
  gap: 51px;
  align-items: center;
}
.header__buttons {
  display: flex;
  gap: 10px;
}
.header__logo_img {
  max-width: 130px;
  flex-shrink: 0;
}

.info__section {
  background-color: #ffffff;
  padding-top: 130px;
  padding-bottom: 170px;
}
.info__section__inner {
  display: flex;
  align-items: flex-start;
}
.info__section__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 51px;
  max-width: 550px;
}
.info__section__h3 {
  font-weight: 600;
  font-size: 65px;
}
.info__section__text {
  font-size: 25px;
  margin-right: 75px;
}
.info__section__subtitle {
  font-size: 15px;
}

.companies__section {
  background-color: #FF9C7D;
  padding: 108px 0;
}
.companies__section__h5 {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  margin: 0 auto;
  margin-bottom: 68px;
  max-width: 700px;
  text-align: center;
}
.companies__section__block__logos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.companies__section__logo {
  max-width: 150%;
  align-items: center;
}

.main__section {
  background-color: #ffffff;
  padding-top: 90px;
  padding-bottom: 150px;
}
.main__section__inner {
  display: flex;
  flex-direction: column;
  gap: 250px;
}
.main__section__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__section__block__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  max-width: 520px;
}
.main__section__h5 {
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
}
.main__section__text {
  font-size: 20px;
  line-height: 30px;
}
.main__section__gif {
  max-width: 632px;
}

.cards__section {
  background-color: #FFF8E4;
  padding-top: 120px;
  padding-bottom: 150px;
}
.cards__section__h5 {
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
}
.cards__section__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 75px;
}
.cards__section__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  max-width: 30%;
}
.cards__section__img {
  max-width: 160px;
  margin: 0 auto;
}
.cards__section__h6 {
  font-weight: 600;
  font-size: 25px;
  line-height: 140%;
  text-align: center;
}
.cards__section__text {
  font-size: 18px;
  line-height: 140%;
  max-width: 330px;
  text-align: center;
}

.productivity__section {
  background-color: #ffffff;
  padding-top: 155px;
  padding-bottom: 190px;
}
.productivity__section__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.productivity__section__block {
  display: flex;
  flex-direction: column;
  align-content: start;
  gap: 30px;
  max-width: 30%;
}
.productivity__section__img {
  max-width: 179px;
  min-height: 201px;
}
.productivity__section__h6 {
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
}
.productivity__section__text {
  font-size: 20px;
  line-height: 150%;
  max-width: 410px;
}

.revolut__section {
  background-color: #C9E8F2;
  padding-top: 55px;
  padding-bottom: 105px;
}
.revolut__section__inner {
  display: flex;
  justify-content: space-between;
}
.revolut__section__block {
  display: flex;
  flex-direction: column;
  max-width: 980px;
}
.revolut__section__text {
  font-size: 30px;
  line-height: 135%;
  max-width: 920px;
  margin-bottom: 25px;
}
.revolut__section__subtitle {
  font-size: 15px;
  line-height: 165%;
  margin-bottom: 7px;
}
.revolut__section__logo {
  max-width: 120px;
}
.revolut__section__img {
  max-width: 320px;
}

.software__section {
  background-color: #DABC98;
  padding-top: 80px;
  padding-bottom: 85px;
}
.software__section__inner {
  display: flex;
  justify-content: space-between;
}
.software__section__block {
  display: flex;
  gap: 70px;
  align-items: center;
}
.software__section__img {
  max-width: 176px;
  flex-shrink: 0;
}
.software__section__h6 {
  font-weight: 600;
  font-size: 35px;
  line-height: 143%;
  max-width: 470px;
}
.software__section__block__rating {
  display: flex;
  gap: 70px;
  align-items: center;
  padding-left: 70px;
  border-left: 1px solid #000000;
}
.software__section__rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  min-width: 150px;
}
.software__section__rating__img {
  max-width: 150px;
}
.software__section__stars {
  max-width: 130px;
}
.software__section__text {
  font-size: 15px;
  line-height: 165%;
}

.integration__section {
  background-color: #ffffff;
  padding-top: 165px;
  padding-bottom: 165px;
}
.integration__section__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.integration__section__h3 {
  font-weight: 600;
  font-size: 65px;
  line-height: 115%;
  max-width: 800px;
  text-align: center;
}
.integration__section__h3__subtitle {
  font-size: 25px;
  line-height: 120%;
  max-width: 540px;
  text-align: center;
  margin-bottom: 25px;
}
.integration__section__img {
  max-width: 1025px;
  margin-bottom: 35px;
}

.try__free__section {
  background-color: #FF9C7D;
  padding-top: 120px;
  padding-bottom: 160px;
}
.try__free__section__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.try__free__section__h3 {
  margin-bottom: 30px;
}
.try__free__section__subtitle {
  font-size: 20px;
  margin-bottom: 55px;
}

.footer {
  background-color: #ffffff;
  padding-top: 90px;
}
.footer__inner {
  display: flex;
  flex-direction: column;
}
.footer__top {
  display: flex;
  margin-bottom: 95px;
  justify-content: space-between;
}
.footer__block__studies {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__h6 {
  font-weight: 600;
  font-size: 40px;
  line-height: 125%;
}
.footer__img {
  max-width: 300px;
}
.footer__logo__specialized {
  max-width: 80px;
}
.footer__text {
  font-size: 20px;
  line-height: 150%;
  max-width: 290px;
}
.footer__links {
  display: flex;
  width: 65%;
  justify-content: space-between;
}
.footer__blocks {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__h6__links {
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
}
.footer__ground {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 45px;
  border-top: 1px solid #000000;
}
.footer__logo {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}
.footer__logo__localise {
  max-width: 90px;
}
.footer__ground__subtitle {
  font-size: 12px;
  line-height: 125%;
  max-width: 300px;
}
.footer__copyright {
  display: flex;
  flex-direction: column;
  margin-right: 75px;
}
.footer__copyright__text {
  font-size: 12px;
  line-height: 125%;
}

.link {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
}
.link__header {
  font-size: 15px;
}
.link__startnow {
  border: 0;
  background-color: #ffffff;
  font-weight: 600;
  line-height: 150%;
  padding: 0;
}
.link__startnow .startnow__footer {
  text-align: left;
}
.link__productivity__section {
  line-height: 150%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.link__product {
  font-size: 15px;
  line-height: 100%;
  color: #000000;
  text-decoration: none;
  text-align: left;
}

@media all and (max-width: 767px) {
  .link__header {
    width: 40%;
    min-height: 25px;
    text-align: center;
  }
  .link__startnow {
    font-size: 15px;
  }
  .link__productivity__section {
    font-size: 15px;
  }
  .link__product {
    text-align: center;
    font-size: 13px;
  }
}
@media all and (max-width: 1024px) {
  .link__startnow {
    font-size: 17px;
  }
  .link__productivity__section {
    font-size: 17px;
  }
}
.button {
  font-weight: 600;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
  color: #000000;
  cursor: pointer;
}
.button__login {
  padding: 14px 37px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
  color: #000000;
}
.button__try__free {
  padding: 14px 24px;
  background-color: #FF6336;
  color: #ffffff;
  border: 0;
}
.button__try__free.see__integrations {
  padding: 22px 21px;
}
.button__try__free__info {
  padding: 22px 42px;
}
.button__book {
  padding: 21px 29px;
}
.button__black {
  background-color: #000000;
  padding: 22px 42px;
}

@media all and (max-width: 767px) {
  .button__login {
    padding: 10px 25px;
  }
  .button__try__free {
    padding: 9px 14px;
  }
  .button.button__login.button__book {
    padding: 16px 22px;
  }
  .button.button__try__free.button__try__free__info {
    padding: 17px 32px;
  }
}
@media all and (max-width: 1024px) {
  .button {
    font-size: 12px;
  }
}
@media all and (max-width: 1024px) {
  .header__inner {
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px 0;
  }
  .info__section {
    padding: 50px 0;
  }
  .info__section__inner {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }
  .info__section__block {
    gap: 30px;
    align-items: center;
    text-align: center;
  }
  .info__section__h3 {
    font-size: 40px;
  }
  .info__section__text {
    font-size: 17px;
    line-height: 120%;
    margin: 0;
  }
  .info__section__subtitle {
    font-size: 13px;
  }
  .info__section.localization__img {
    max-width: 300px;
    margin: 0;
  }
  .companies__section {
    padding: 50px 0;
  }
  .companies__section__h5 {
    font-size: 35px;
    line-height: 120%;
    max-width: 550px;
    margin-bottom: 35px;
  }
  .companies__section__block__logos {
    row-gap: 20px;
    justify-content: space-around;
  }
  .companies__section__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
  }
  .main__section {
    padding: 50px 0;
  }
  .main__section__inner {
    gap: 80px;
  }
  .main__section__block__text {
    gap: 20px;
    max-width: 370px;
  }
  .main__section__block {
    gap: 10px;
  }
  .main__section__h5 {
    font-size: 35px;
  }
  .main__section__text {
    font-size: 17px;
    line-height: 120%;
  }
  .cards__section {
    padding: 50px 0;
  }
  .cards__section__h5 {
    font-size: 35px;
    margin-bottom: 50px;
  }
  .cards__section__inner {
    align-items: start;
    row-gap: 55px;
  }
  .cards__section__block {
    gap: 15px;
  }
  .cards__section__img {
    max-width: 120px;
  }
  .cards__section__h6 {
    font-size: 20px;
  }
  .cards__section__text {
    font-size: 17px;
  }
  .productivity__section {
    padding: 50px 0;
  }
  .productivity__section__h6 {
    font-size: 20px;
  }
  .productivity__section__text {
    font-size: 17px;
  }
  .revolut__section {
    padding: 50px 0;
  }
  .revolut__section__text {
    font-size: 20px;
    max-width: 720px;
    margin-bottom: 20px;
  }
  .revolut__section__logo {
    max-width: 100px;
  }
  .software__section {
    padding: 50px 0;
  }
  .software__section__block {
    gap: 25px;
  }
  .software__section__img {
    min-width: 100px;
  }
  .software__section__h6 {
    font-size: 30px;
    max-width: 400px;
  }
  .software__section__block__rating {
    gap: 0;
    padding-left: 20px;
  }
  .software__section__rating {
    min-width: 150px;
  }
  .software__section__rating__img {
    max-width: 150px;
    align-items: flex-start;
  }
  .software__section__stars {
    max-width: 90px;
  }
  .software__section__text {
    font-size: 13px;
    max-width: 130px;
  }
  .integration__section {
    padding: 50px 0;
  }
  .integration__section__h3 {
    font-size: 40px;
    max-width: 600px;
  }
  .integration__section__h3__subtitle {
    font-size: 20px;
    max-width: 540px;
  }
  .integration__section___img {
    max-width: 600px;
    margin-bottom: 35px;
  }
  .try__free__section {
    padding: 50px 0;
  }
  .try__free__section__h3 {
    margin-bottom: 15px;
  }
  .try__free__section__subtitle {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .footer {
    padding-top: 50px;
  }
  .footer__top {
    flex-direction: column;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
  }
  .footer__block__studies {
    gap: 10px;
    align-items: center;
    margin-bottom: 50px;
  }
  .footer__h6 {
    font-size: 25px;
  }
  .footer__blocks {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .footer__links {
    width: 100%;
  }
  .footer__ground {
    padding: 40px 0;
  }
}
@media all and (max-width: 767px) {
  .container {
    max-width: 500px;
    padding: 5px;
  }
  .header__inner {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 15px 0;
    row-gap: 15px;
  }
  .header__nav {
    flex-wrap: wrap;
    row-gap: 15px;
    -moz-column-gap: 5px;
         column-gap: 5px;
    justify-content: center;
  }
  .header__logo__img {
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  .header__buttons {
    justify-content: space-between;
    min-width: 210px;
  }
  .info__section {
    padding: 30px 0;
  }
  .info__section__block {
    gap: 20px;
  }
  .info__section__h3 {
    font-size: 35px;
  }
  .info__section__text {
    font-size: 15px;
  }
  .info__section__subtitle {
    font-size: 11px;
  }
  .companies__section {
    padding: 30px 0;
  }
  .companies__section__h5 {
    font-size: 30px;
  }
  .companies__section__block__logos {
    row-gap: 30px;
    justify-content: space-around;
  }
  .companies__section__logo {
    width: 50%;
  }
  .main__section {
    padding: 30px 0;
  }
  .main__section__inner {
    gap: 50px;
  }
  .main__section__block {
    flex-direction: column;
  }
  .main__section__block__text {
    gap: 20px;
    max-width: 370px;
    text-align: center;
  }
  .main__section__h5 {
    font-size: 30px;
  }
  .main__section__text {
    font-size: 15px;
  }
  .main__section__gif {
    max-width: 632px;
    order: 2;
  }
  .cards__section {
    padding: 30px 0;
  }
  .cards__section__h5 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .cards__section__inner {
    row-gap: 35px;
    flex-wrap: wrap;
  }
  .cards__section__block {
    gap: 15px;
    max-width: 47%;
  }
  .cards__section__h6 {
    font-size: 18px;
  }
  .cards__section__text {
    font-size: 15px;
  }
  .productivity__section {
    padding: 30px 0;
  }
  .productivity__section__inner {
    gap: 40px;
    justify-content: center;
  }
  .productivity__section__block {
    gap: 10px;
    max-width: 100%;
    align-items: center;
    text-align: center;
  }
  .productivity__section__img {
    max-width: 120px;
    min-height: 100px;
  }
  .productivity__section__h6 {
    font-size: 18px;
  }
  .productivity__section__text {
    font-size: 15px;
    text-align: justify;
    max-width: 500px;
  }
  .revolut__section {
    padding: 30px 0;
  }
  .revolut__section__inner {
    flex-direction: column-reverse;
  }
  .revolut__section__text {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: justify;
  }
  .revolut__section__subtitle {
    font-size: 13px;
    margin-bottom: 7px;
  }
  .revolut__section__logo {
    max-width: 90px;
  }
  .revolut__section__img {
    max-width: 250px;
    align-self: center;
  }
  .software__section {
    padding: 30px 0;
  }
  .software__section__inner {
    flex-direction: column;
  }
  .software__section__block {
    gap: 20px;
    justify-content: space-around;
    padding-bottom: 10px;
  }
  .software__section__img {
    max-width: 130px;
    flex-shrink: 1;
  }
  .software__section__h6 {
    font-size: 30px;
    max-width: 220px;
  }
  .software__section__block__rating {
    padding-top: 20px;
    padding-left: 0;
    border-top: 1px solid #000000;
    border-left: 0;
    justify-content: center;
  }
  .software__section__rating {
    min-width: 150px;
  }
  .integration__section {
    padding: 30px 0;
  }
  .integration__section__h3 {
    font-size: 35px;
  }
  .integration__section__h3__subtitle {
    font-size: 18px;
  }
  .integration__section__img {
    max-width: 600px;
    margin-bottom: 25px;
  }
  .try__free__section {
    padding: 30px 0;
  }
  .try__free__section__h3 {
    margin-bottom: 15px;
  }
  .try__free__section__subtitle {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .footer {
    padding-top: 30px;
  }
  .footer__block__studies {
    gap: 10px;
    align-items: center;
    margin-bottom: 50px;
  }
  .footer__h6 {
    font-size: 20px;
  }
  .footer__text {
    font-size: 18px;
  }
  .footer__links {
    width: 100%;
    flex-wrap: wrap;
    row-gap: 35px;
  }
  .footer__blocks {
    gap: 15px;
    width: 50%;
  }
  .footer__ground {
    padding: 10px 0;
    justify-content: space-between;
    gap: 15px;
  }
  .footer__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .footer__logo__localise {
    max-width: 60px;
    flex-shrink: 0;
  }
  .footer__ground__subtitle {
    font-size: 11px;
  }
  .footer__copyright {
    margin: 0 auto;
  }
  .footer__copyright__text {
    font-size: 10px;
  }
}/*# sourceMappingURL=main.css.map */